@{
    ViewBag.Title = "UploadBlob";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("UploadBlob", "Blob", FormMethod.Post, new { encType = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="form-group">
            <br />
            <label>Upload Blob to Azure Storage</label>
            <input type="file" name="uploadFileName" value="Browse" class="btn-primary" />
            <br />
            <button type="submit" id="buttonSubmit" class="btn btn-success">Upload</button>
        </div>
    </div>
} 

<script type="text/javascript" language="javascript">
    function validate() {
        var fileUpload = document.getElementById('uploadFileControl').value;
        var reg = /^(([a-zA-Z]:)|(\\{2}\w+)\$?)(\\(\w[\w].*))+(.jpeg|.JPEG|.gif|.GIF|.png|.PNG|.bmp|.BMP|.ico|.ICO|.jpg|.JPG|.tiff|.TIFF)$/;
        if (reg.test(fileUpload)) {
            return true
        }
        else {
            alert("Only .jpg, .jpeg, .bmp, .gif, .png, .ico, and .tiff files are allowed");
        }
    }
</script>